# --- Virtual Environments ---
brain/
.venv/
venv/
env/

# --- Python Artifacts ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Machine Learning Artifacts ---
*.pth
*.pt
*.onnx

# DataFolder
/BrainTumorImages

# --- Output & Logs ---
*.png
*.jpg
*.jpeg
*.log

# --- OS Specific Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE Settings ---
.vscode/
.idea/