# --- Virtual Environments ---
brain/
.venv/
venv/
env/

# --- Python Artifacts ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# DataFolders
/BrainTumorImages
/BonusScripts

# --- Output & Logs ---
*.png
*.pth

# --- OS Specific Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE Settings ---
.vscode/
.idea/